.hero {
    background: var(--hero-bg-left, rgba(#FF7A00, .5));
    background: -moz-linear-gradient(
            left,
            var(--hero-bg-left, rgba(#FF7A00, .5)) 0%,
            var(--hero-bg-right, rgba(#FFC700, .5)) 100%
        );
    background: -webkit-linear-gradient(
            left,
            var(--hero-bg-left, rgba(#FF7A00, .5)) 0%,
            var(--hero-bg-right, rgba(#FFC700, .5)) 100%
        );
    background: linear-gradient(
            to right,
            var(--hero-bg-left, rgba(#FF7A00, .5)) 0%,
            var(--hero-bg-right, rgba(#FFC700, .5)) 100%
        );

    .title {
        color: var(--hero-color, #EE4700);
    }
}
