.hero {
    background: var(--hero-bg-left, rgba(#FF7A00, .5));
    background: -moz-linear-gradient(
            left,
            var(--hero-bg-left, rgba(#FF7A00, .5)) 0%,
            var(--hero-bg-right, rgba(#FFC700, .5)) 100%
        );
    background: -webkit-linear-gradient(
            left,
            var(--hero-bg-left, rgba(#FF7A00, .5)) 0%,
            var(--hero-bg-right, rgba(#FFC700, .5)) 100%
        );
    background: linear-gradient(
            to right,
            var(--hero-bg-left, rgba(#FF7A00, .5)) 0%,
            var(--hero-bg-right, rgba(#FFC700, .5)) 100%
        );

    .title {
        color: transparent;
      	-webkit-background-clip: text;

      	background-clip: text;
      	background-image: linear-gradient(
            to right,
            var(--hero-title-left, rgb(255, 77, 77)) 0%,
            var(--hero-title-right, rgb(251, 174, 4)) 100%,
        );
    }
}
